@font-face {
    font-family: sauronEX;
    src: url(fonts/ROMANTIC.TTF);
}

body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

